{
  "plugins": [
    [
      "prismjs",
      {
        "languages": [
          "javascript",
          "css",
          "markup",
          "cpp",
          "c",
          "python",
          "java",
          "ruby"
        ],
        "plugins": ["line-numbers"],
        "theme": "okaida",
        "css": true
      }
    ]
  ]
}
